<<<<<<< HEAD
.square-icon
{
  height: 100%;
  aspect-ratio: 1/1;

  background-color: var(--fontcolor-3);

  -webkit-mask: url(../IMG/square.svg) no-repeat center / contain;
  mask: url(../IMG/square.svg) no-repeat center / contain;
=======
.square-icon
{
  height: 100%;
  aspect-ratio: 1/1;

  background-color: var(--fontcolor-3);

  -webkit-mask: url(../IMG/square.svg) no-repeat center / contain;
  mask: url(../IMG/square.svg) no-repeat center / contain;
>>>>>>> fbf1101 (Update Javascript Code.)
}