.triangle-icon
{
  height: 100%;
  aspect-ratio: 1/1;

  background-color: var(--fontcolor-3);

  -webkit-mask: url(../IMG/triangle.svg) no-repeat center / contain;
  mask: url(../IMG/triangle.svg) no-repeat center / contain;
}
