.hexadecimal-user-input
{
  padding-left: 0.6em;

  width: 100%;
  height: 2em;

  border: none;
  outline: none;

  color: var(--fontcolor-3);
  font-size: 1em;

  border-radius: var(--borderradius-square);
  background-color: var(--backgroundcolor-2);
}