.the-canvas-editor-bar
{
  width: 100%;
  height: 100%;

  background-color: var(--backgroundcolor-1);

  position: relative;
  overflow: auto;

  &::-webkit-scrollbar {width: 0.6em; background-color: var(--backgroundcolor-1);}
  &::-webkit-scrollbar-thumb {width: 0.6em; border-radius: 0.6em; background-color: var(--backgroundcolor-3);}

  &::-webkit-scrollbar {height: 0.6em; background-color: var(--backgroundcolor-1);}
  &::-webkit-scrollbar-thumb {height: 0.6em; border-radius: 0.6em; background-color: var(--backgroundcolor-3);}

  &::-webkit-scrollbar-corner {background-color: var(--backgroundcolor-1);}

  overflow-anchor: none;
}